VITE_FIREBASE_API_KEY=sua_api_key_aqui
VITE_FIREBASE_AUTH_DOMAIN=cafirestore2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cafirestore2
VITE_FIREBASE_STORAGE_BUCKET=cafirestore2.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=seu_sender_id_aqui
VITE_FIREBASE_APP_ID=seu_app_id_aqui
